body{
  font-family: 'Poppins', sans-serif;
  background-image: url(backg.jpg);
  background-size: cover;

}

.quadrato{
  width: 850px;
  height: 550px;
  margin: auto;
  margin-top: 60px;
  border-radius: 10px 10px 10px 10px;
  background-color:rgba(0,0,0,0.5);

}

.intestazione{
  width: 300px;
  margin: auto;

}

img{
  width: 170px;
  margin-left: 70px;
  margin-right: 50px;
  margin-top: 50px;
}

.titolo{
  color: #00ff00;
  text-align: center;
  font-size: 20px;
}

.opzioni{
  display: inline-block;
  width: 700px;
  height: 25px;
  background-color: #00ff00;
  margin-left: 70px;
  margin-right: 50px;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

span > button{
  font-size: 9px;
  margin: auto;
}

.nome{
  font-size: 17px;
}

.lista{
  color: white;
  list-style-type: none;
  font-size: 12px;
  margin-left: 27px;
}

.carica1{
  background-color: #ffa500;
  width: 250px;
  height: 20px;
  border-radius: 3px 3px 3px 3px;
}

.carica2{
  background-color: #00bb2d;
  width: 400px;
  height: 20px;
  border-radius: 3px 3px 3px 3px;
}

.carica3{
  background-color: #cb3234;
  width: 100px;
  height: 20px;
  border-radius: 3px 3px 3px 3px;
}

footer{
  color: white;
}
